<% provide(:title, "About") %>

<div class="row">
    <div class="small-10 small-offset-1 collums">
		<header>
			<h2>About</h2>
		</header>
		<p>An innovative news reader developed by Thiago Rodrigues.</p>
    </div>
</div>
