<% provide(:title, "Feedback") %>

<div class="row simple-container">
    <div class="medium-8 large-7 medium-centered columns box">
	<header>
	    <h3>Feedback</h3>
	</header>

	<p>Your suggestions are really important to keep improving Sourcerer. You can also send me any bug reports, questions and general comment. Here's where you can find me.</p>

	<p><strong>Twitter:</strong> <%= link_to '@SourcererNews', 'https://twitter.com/SourcererNews', target: '_blank' %> or <%= link_to '@thiago__rs', 'https://twitter.com/thiago__rs', target: '_blank' %></p>
	<p><strong>Email:</strong> <%= mail_to 'trsantos1@gmail.com', nil, target: '_blank' %></p>
    </div>
</div>
