<% provide(:title, "Feedback") %>

<div class="row simple-container">
    <div class="small-11 medium-7 small-centered columns box">
	<header>
	    <h3>Feedback</h3>
	</header>

	<p>You can send any suggestions, questions and bug reports by the following means:</p>

	<p><strong>Email:</strong> <%= mail_to 'trsantos1@gmail.com', nil, target: '_blank' %></p>
	<p><strong>GitHub:</strong> <%= link_to 'trsantos/sourcerer', 'https://github.com/trsantos/sourcerer', target: '_blank' %></p>
    </div>
</div>
