<% provide(:title, "Feedback") %>

<div class="row simple-container">
    <div class="small-11 medium-7 small-centered columns box">
	<header>
	    <h3>Feedback</h3>
	</header>

	<p>Your suggestions are important to for the continuous improvement of Sourcerer. As well as any bug reports, questions or general comment you might have.</p>
	<p>Here's where you can find me.</p>

	<p><strong>Twitter:</strong> <%= link_to '@SourcererNews', 'https://twitter.com/SourcererNews', target: '_blank' %> or <%= link_to '@thiago__rs', 'https://twitter.com/thiago__rs', target: '_blank' %></p>
	<p><strong>Email:</strong> <%= mail_to 'trsantos1@gmail.com', nil, target: '_blank' %></p>
    </div>
</div>
