<header>
    <h1>Welcome to Sourcerer</h1>
    <p>Sourcerer is the sorcerer of news sources.</p>
</header>
<% if logged_in? %>
    <%= link_to "Start reading!", next_path, class: "button expand" %>
<% else %>
    <%= link_to "Sign up now!", signup_path, class: "button expand" %>
    <%= link_to "Log in", login_path, class: "button expand show-for-small-only" %>
<% end %>
