<header>
    <h1>Welcome to the best news reader</h1>
    <p>The home page for my new app!</p>
</header>
<div class="medium-6 medium-offset-3">
    <%= link_to "Sign up now!", signup_path, class: "button expand" %>
    <%= link_to "Log in", '#', class: "button expand show-for-small-only" %>
</div>
