<div class="feed-header sticky">
	<nav class="top-bar" data-topbar>
		<ul class="title-area">
			<li class="name">
				<h1>
					<img src="<%= get_favicon(sub_url(@feed)) %>"
						id="favicon" class="<%= safari? %>" />
					<%= link_to sub_title(@feed),
					sub_url(@feed),
					id: "feed-title",
					target: "_blank" %>
				</h1>
			</li>
			<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
		</ul>
		<section class="top-bar-section">
			<ul class="right controls">
				<%= render 'controls' %>
			</ul>
		</section>
	</nav>
</div>
