<% provide(:title, 'All feeds') %>
<header>
    <h2>All feeds</h2>
</header>

<%= will_paginate renderer: FoundationPagination::Rails %>

<div class="row">
    <div class="medium-10 medium-offset-1">
	<ul class="feeds no-bullet">
	    <%= render @feeds %>
	</ul>
    </div>
</div>

<%= will_paginate renderer: FoundationPagination::Rails %>
