<% provide(:title, 'All feeds') %>

<div class="row simple-container">
    <div class="medium-9 large-8 medium-centered columns box">
	<header>
	    <h3>All feeds [<%= Feed.count %> total]</h3>
	</header>

	<ul class="feeds no-bullet">
	    <%= render @feeds %>
	</ul>
    </div>
</div>
