<% provide(:title, 'All feeds') %>
<header>
    <h2>All feeds (<%= Feed.count %>)</h2>
</header>

<div class="row">
    <div class="medium-10 medium-offset-1">
	<ul class="feeds no-bullet" data-no-turbolink>
	    <%= render @feeds %>
	</ul>
    </div>
</div>
