<% provide(:title, sanitize(@feed.title)) %>

<div id="fs-top-sep"></div>

<div id="feeds-show-container" class="row">
    <%= render 'aside' %>
    <div class="box medium-10 medium-centered large-9 large-uncentered columns">
	<% if @feed.entries.any? %>
	    <p id="whats-new" class="show-for-large-up section-heading">What's new</p>
	    <%= render @entries %>
	<% else %>
	    <p style="margin-top: 1.25rem">This feed has no items or has not been fetched yet.</p>
	<% end %>
    </div>
</div>

<div id="fs-bottom-sep"></div>

<%= link_to "Next feed", next_path, class: "show-for-small-only button expand", id: "next" %>

<script>
var logo = document.getElementById("logo-img");
if (logo) {
	logo.onerror = function() {
		logo.style.display = "none";
	};
	logo.onload = function() {
		if (logo.height < 5) {
			logo.style.display = "none";
		}
	}
}
//var imgs = $("article img");
//for (i = 0; i < imgs.length; i++) {
//	img = imgs[i];
//	img.onerror = function() {
//		img.parentElement.parentElement.style.display = "none";
//	};
//	img.onload = function() {
//		if (img.width < 30) {
//			img.parentElement.parentElement.style.display = "none";
//		}
//	};
//}
//navigator.registerContentHandler("application/vnd.mozilla.maybe.feed", "<%= "#{request.protocol}#{request.host_with_port}" %>/feeds/new?feed=%s", "Sourcerer");
</script>
