<% provide(:title, @feed.title) %>

<div id="feeds-show-container" class="row">
    <%= render 'aside' %>
    <div class="medium-10 medium-offset-1 large-9 large-uncentered columns end box">
	<% if @feed.fetching %>
	    <p style="margin-top: 1.25rem"><%= icon 'refresh', class: 'fa-spin', style: 'margin-right: 5px' %> Please wait...</p>
            <script>
             window.setTimeout(function () {
                 Turbolinks.enableProgressBar(false);
                 Turbolinks.visit();
             }, 2000 );
            </script>
	<% else %>
	    <% if @feed.entries.any? %>
		<p id="whats-new" class="show-for-large section-heading">What's new</p>
		<%= render @entries %>
	    <% else %>
		<p style="margin-top: 1.25rem">There are no articles for this feed.</p>
	    <% end %>
	<% end %>
    </div>
</div>

<%= link_to "Next feed", next_path(last_sub: @subscription), class: "show-for-small-only button expanded", id: "next" %>
