<% provide(:title, sanitize(@feed.title)) %>

<%= render partial: 'header', :locals => { :size => :small } %>
<%#= render partial: 'header', :locals => { :size => :large } %>

<div class="row entries">
    <div class="small-10 small-offset-1 collums">
	<% if @feed.entries.any? %>
	    <%= render @entries %>
	<% else %>
	    <p>This <%= link_to "feed", @feed.feed_url %> could not be fetched or has no items.</p>
	<% end %>
	<small>Feed url: <%= link_to @feed.feed_url, @feed.feed_url, target: "_blank" %></small>
    </div>
</div>
