<% provide(:title, sanitize(@feed.title)) %>

<div class="feed-entries">
	<% if @feed.entries.any? %>
		<p id="entries-header" class="show-for-large-up">Latest</p>
		<%= render @entries %>
	<% else %>
		<p>This feed has no items or has not been fetched yet.</p>
    <% end %>
	<div class="feed-url show-for-medium-up">
		<small>
			Feed url: <%= link_to @feed.feed_url, @feed.feed_url, target: "_blank" %>
		</small>
	</div>
</div>

<%= link_to "Next feed", next_path, class: "show-for-small-only button expand" %>
