<% provide(:title, "Import OPML") %>

<header>
    <h3>Import OPML</h3>
</header>

<%= form_for(:opml , url: opml_index_path) do |f| %>
    <%= f.file_field :opml_file %>
    <%= f.submit "Submit", class: "button expand" %>
<% end %>
