<% provide(:title, "Import OPML") %>

<div class="row simple-container">
    <div class="medium-8 large-7 medium-centered columns box">
	<header>
	    <h3>Import OPML</h3>
	</header>

	<p>

	<%= form_for(:opml , url: opml_index_path) do |f| %>
	    <%= f.file_field :opml_file %>
	    <%= f.submit "Submit", class: "button radius expand" %>
	<% end %>
    </div>
</div>
