<% provide(:title, "Import OPML") %>
<header>
    <h2>Import OPML</h2>
</header>

<%= form_for(:opml , url: opml_index_path) do |f| %>
    <%= f.file_field :opml_file %>
    <%= f.submit "Upload file", class: "button" %>
<% end %>
