<% provide(:title, "Edit user") %>
<header>
    <h2>Update your profile</h2>
</header>

<div class="row">
    <div class="medium-8 medium-offset-2">
	<%= form_for(@user) do |f| %>
	    <%= render 'fields', f: f %>
	    <%= f.submit "Save changes", class: "button expand" %>
	<% end %>
    </div>
</div>
