<% provide(:title, 'Sign up') %>
<header>
    <h2>Sign up</h2>
</header>

<%= form_for(@user) do |f| %>
    <%= render 'fields', f: f %>
    <%= f.submit "Create my account", class: "button expand" %>
<% end %>
