<% if @user.errors.any? %>
    <div data-alert class="alert-box alert" id="error-explanation">
	The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
	<% @user.errors.full_messages.each do |msg| %>
	    <li><%= msg %></li>
	<% end %>
    </ul>
<% end %>
