<div class="row billing-container simple-container">
    <div class="small-11 medium-7 small-centered columns box">
	<header>
	    <h3>We're almost done!</h3>
	</header>

	<p>Review your payment information before approving it. You will be charged only after this confirmation step.</p>

	<strong>Price:</strong> <%= @total %> <%= @currency %><br/>
	<strong>New subscription end date: </strong><%= new_expiration_date %><br/>
	<br/>

	<%= link_to 'Confirm payment', billing_finalize_path(params.permit(:paymentId, :token, :PayerId)), class: 'button radius expanded', 'data-no-turbolink': true %>
    </div>
</div>
