<li>
    <% if subscription.starred? %>
	<% status = "★ " %>
    <% else %>
	<% status = "" %>
    <% end %>

    <%= link_to status + (subscription.title || subscription.feed.title || "(Untitled #{subscription.feed.id})").to_s,
    subscription.feed,
    class: subscription.updated? ? "updated-sub" : "" %>
</li>
