<div class="row simple-container">
    <div class="medium-8 large-7 medium-centered columns box">
	<header>
	    <h3>EOF</h3>
	</header>
	<p>This is the end! You have no updated subscriptions right now. Come back later or try to follow some new topics, if you wish.</p>
	<%= link_to "Maybe there's something new now?", next_path, class: 'button radius expand' %>
	<%= link_to "Let's see this topics thing", current_user, class: 'button radius secondary expand' %>
    </div>
</div>
