<% provide(:title, 'Your subscriptions') %>

<div id="subscriptions-container">

    <header>
	<h3>Your subscriptions (<%= current_user.subscriptions.count %>)</h3>
    </header>

    <ul class="feeds no-bullet">
	<%= render @subscriptions %>
    </ul>

</div>
