<% provide(:title, 'Your subscriptions') %>

<div id="subscriptions-container">

    <header>
	<h3>Your <%= pluralize current_user.subscriptions.count, 'subscription' %></h3>
    </header>

    <ul class="feeds no-bullet">
	<%= render @subscriptions %>
    </ul>

</div>
