<div class="row simple-container">
    <div class="medium-8 large-7 medium-centered columns box">
	<header>
	    <h3>Your subscriptions list is empty!</h3>
	</header>
	<p>Sourcerer is only useful if you subscribe to the blogs and websites you like. Please, choose some topics to follow or import an OPML file, if you're coming from another reader.</p>
	<%= link_to "Choose topics to follow", current_user, class: 'button radius expand' %>
	<%= link_to "Import OPML", new_opml_path, class: 'button radius secondary expand' %>
    </div>
</div>
