<% provide(:title, "River") %>

<div class="feed-entries">
    <p id="entries-header" class="show-for-large-up">Random bits</p>
    <%= render @entries %>
</div>

<div class="row">
    <div class="medium-4 medium-centered columns">
	<%= link_to "Dive in", next_path, class: "button expand", id: "next", data: { keybinding: 'n' } %>
    </div>
</div>

<script>
imgs = document.getElementsByClassName("favicon");
for (var i = 0; i < imgs.length; ++i) {
	imgs[i].onerror = function() {
		this.setAttribute("src", "<%= asset_path('feed-icon-16x16-gray.png') %>");
	};
};
</script>
