<% provide(:title, 'River of News') %>

<div id="fs-top-sep"></div>

<div id="feeds-show-container" class="row">
    <div class="box medium-10 medium-centered large-9 columns">
	<% if @entries.any? %>
	    <p id="whats-new" class="show-for-large-up section-heading text-center">What's new</p>
	    <%= render @entries %>
	<% else %>
	    <p style="margin-top: 1.25rem">There are no articles for this feed.</p>
	<% end %>
    </div>
</div>

<div id="fs-bottom-sep"></div>

<%= link_to "Next feed", @user.next_feed, class: "show-for-small-only button expand", id: "next" %>
