$fh-bg: #232C33;
$ah-bg: #010A11;
$ah-bg: #091219;
$active-bg: #008cba;
$body-bg: #364652;
$body-bg: #114B5F;
$body-bg: #234645;
$body-bg: #18314F;
$body-bg: #324A5F;
$body-bg: #D3D4D9;
//$body-bg: #73828F;
//$body-bg: #454e55;
//$body-bg: #565f66;
//$body-bg: #677077;

$a: #fff;
$ah-a: #fff;

$active-hover: #006a98;
$fh-hover: #121B22;
$ah-hover: #121b22;

main {
    #	padding-top: 45px !important;
}

#topics-button {
    margin-top: 15px;
}

.users, .feeds {
    list-style: none;
    li {
	padding: 10px 0;
	border-bottom: 1px dotted lightgray;
	a {
	    color: #222;
	}
	a:hover {
	    #			text-decoration: underline;
	}
    }
    li:last-child {
	border-width: 0px !important;
    }
}

header h2, #home {
    text-align: center;
}

article {
    padding-bottom: 0.6rem;
    padding-top: 0.4rem;
    border-bottom: 1px dotted lightgray;
    .description, p {
	font-size: 15px !important;
	margin-bottom: 0px;
	a {
	    color: inherit;
	}
	a:hover {
	    text-decoration: underline;
	}
    }
    &:last-child {
	border-width: 0px !important;
    }
}

.entry-title a {
    color: #222 !important;
    font-weight: bold;
}

.top-bar ul li > a {
    #	font-size: 12px !important;
}

#feed-title {
    display: inline-block !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#favicon {
    height: 18px;
    width: 18px;
    margin-right: 5px;
    display: inline-block;
    background-size: 16px 16px !important;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    margin-bottom: -1px;
}

#favicon-img {
    #	display: none;
    height: 18px;
    width: 18px;
    padding: 1px;
    background-color: white;
    /* height: 16px; */
    /* width: 16px; */
    margin-right: 5px;
    margin-bottom: 2px !important;
}

.description {
    overflow: hidden;
}

.alert-box {
    margin-bottom: 0px !important;
    text-align: center;
}

.crop, .small-thumb, .big-thumb {
    border-radius: 2px !important;
}

.big-thumb {
    margin-bottom: 7px;
    margin-top: 1px;
}

html.turbolinks-progress-bar::before {
    background-color: $active-bg !important;
}

/* medium and large */
@media only screen and (min-width: 40.063em) {
    .top-bar {
	max-width: 900px !important;
    }
    .row {
	max-width: 830px !important;
    }
    .main-content {
	padding-top: 10px;
    }
    #app-header {
	background: $ah-bg;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
	.top-bar, .contain-to-grid, a {
	    background: $ah-bg !important;
	}
	a {
	    color: $ah-a !important;
	}
	a:hover {
	    background: $ah-hover !important;
	}
    }
    .no-shadow {
	box-shadow: none !important;
    }
    .feed-header {
	z-index: 1 !important;
	background: $fh-bg;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
	a {
	    background: $fh-bg !important;
	    color: $a !important;
	    &:hover {
		background: $fh-hover !important;
	    }
	}
	.active a {
	    background: $active-bg !important;
	    color: #fff !important;
	    &:hover {
		background: $active-hover !important;
	    }
	}
	.top-bar {
	    height: 60px;
	    background: inherit;
	}
	#feed-title:hover {
	    background: $fh-hover !important;
	    height: 60px !important;
	}
	h1 a {
	    font-size: 1.625rem;
	    line-height: 60px;
	}
	.controls {
	    margin-top: 15px;
	    #margin-top: 0px;
	    margin-right: 16px;
	    li a {
		line-height: 30px !important;
	    }
	}
	#feed-title {
	    max-width: 460px;
	}
    }
    .crop {
	padding-right: 0px !important;
	margin-left: 0.9375rem !important;
	padding-left: 0px !important;
	overflow: hidden;
	/* 62px comes from text description on the side */
	max-height: 62px;
	margin-bottom: 5px;
	border: 1px solid rgba(120, 129, 136, 0.2);
    }
    .small-thumb {
	margin-left: auto;
	margin-right: auto;
	display: inherit;
    }
    .desc-with-img {
	padding-left: 1.875rem !important;
	margin-left: -0.9375rem;
    }
    .description {
	margin-top: -5px;
	/* n x 1.6 gives n lines */
	max-height: 4.5rem;
    }
    #entries-header {
	text-align: center;
	font-weight: bold;
	padding-bottom: 6px;
	margin-bottom: 0px;
	border-bottom: 1px dotted lightgray;
    }
    .feed-url {
	margin-top: 5px;
	margin-bottom: 10px;
	a {
	    color: #222 !important;
	}
    }
}

/* large screens */
@media only screen and (min-width: 64.063em) {
    #feed-title {
	max-width: 590px !important;
    }
    .main-content {
	border-radius: 2px;
	background-color: white;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    }
    body {
	background-color: $body-bg !important;
    }
    .feeds-show-div {
	height: 20px;
    }
}

/* Small */
@media only screen and (max-width: 40em) {
    .feed-header {
	#favicon-img {
	    margin-bottom: 3px !important;
	}
	#favicon {
	    margin-bottom: -3px !important;
	}
    }
    .desc-with-img {
	margin-top: 8px;
    }
    .description {
	/* n x 1.6 gives n lines */
	max-height: 6rem;
    }
    #next {
	margin-top: -1px;
    }
    .top-bar {
	background: $fh-bg !important;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
	.contain-to-grid, a, .title-area {
	    background: $fh-bg !important;
	}
	a {
	    color: $ah-a !important;
	}
	a:hover {
	    background: $fh-hover !important;
	}
	#next {
	    background: $active-bg !important;
	}
	h1 a {
	    width: calc(100% - 50px) !important;
	}
    }
}

.updated-sub {
    font-weight: bold;
}