/* Constants */
$bg-color: #F5F5F5;
$box-color: white;
$fh-color: #20242F;
$fh-height: 55px;
$fh-hover: #292D36;
$home-bg-color: #10141F;
$text-color: #0A0A0A;

/* Small and up */
@media only screen {
    body {
	background: white !important;
    }
    .turbolinks-progress-bar {
	height: 2px;
	background-color: yellow;
    }
    #main-nav-padding {
	height: 40px;
    }
    .top-bar #logo img {
	height: 17px;
	margin-bottom: 2px;
    }
    .top-bar .menu li a, .top-bar-title a {
	color: white !important;
    }
    .top-bar li a:not(.button):hover {
	background-color: $fh-hover;
    }
    .dark-page {
	background-color: $home-bg-color !important;
	height: 100%;
    }
    .top-bar {
	box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.4);
	z-index: 1;
    }
    .is-drilldown {
	width: 100%;
    }
    .fixed {
	position: fixed;
	width: 100%;
    }
    .top-bar-title {
	overflow: hidden;
	text-overflow: ellipsis;
	text-overflow: '…         ';
	white-space: nowrap;
	color: white;
	width: 100%;
	padding: 0 !important;
    }
    #homepage {
	#top {
	    color: white;
	    padding-bottom: 40px;
	    header {
		padding-top: 0.625rem;
		#logo {
		    height: 41px;
		}
		#login-button {
		    color: white;
		    transition: 0.25s ease-out 0s, color 0.25s ease-out 0s;
		}
	    }
	    .tagline {
		font-size: 2rem;
		margin: 30px 0px 50px 0px;
	    }
	}
	#screenshot {
	    margin-bottom: 50px;
	    img {
		box-shadow: 0px 0px 30px black;
		border-radius: 2px;
	    }
	}
	.main-features {
	    text-align: center;
	    background-color: white;
	    color: $home-bg-color;
	    i {
		padding-top: 20px;
		padding-bottom: 10px;
		font-size: 50px;
	    }
	}
	#pricing {
	    background-color: $fh-color;
	    color: white;
	    padding-top: 20px;
	}
	footer {
	    padding: 20px 0px;
	    color: white;
	    p {
		font-size: small;
	    }
	    a {
		color: inherit;
	    }
	}
    }
    .radius {
	border-radius: 2px !important;
    }
    .callout {
	margin: 0 !important;
	font-size: small;
    }
    .box .callout {
	margin-bottom: 0.5rem !important;
    }
    .logo-wrap {
	padding-top: 45px;
	text-align: center;
	img {
	    height: 50px;
	}
    }
    .simple-container {
	padding: 15px 0px;
	header {
	    text-align: center;
	}
	.box {
	    ul {
		margin-bottom: 0px;
	    }
	}
	.auth-box {
	    background-color: white;
	    border-radius: 2px;
	    padding: 15px;
	    margin: 30px auto;
	}
    }
    .alert-box {
	margin-bottom: 0px !important;
	text-align: center;
    }
    .users li, .feeds li, article {
	border-bottom: 1px dotted lightgray;
	.entry-title, a {
	    color: $text-color;
	}
	&:last-child {
	    border-width: 0px !important;
	}
    }
    .users, .feeds {
	list-style: none;
	li {
	    padding: 10px 0;
	}
	.updated-sub {
	    font-weight: bold;
	}
    }
    #combined-header {
	box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.4);
    }
    #favicon {
	height: 18px;
	width: 18px;
	padding: 1px;
	background-color: white;
	margin-bottom: 3px;
	margin-right: 5px;
	margin-left: 2px;
    }
    article {
	padding-top: 10px;
	padding-bottom: 5px;
	header {
	    h5, h6 {
		margin-top: 0px;
		margin-bottom: 5px;
		font-size: large;
	    }
	    .old a {
		color: #666;
	    }
	}
	.thumb {
	    margin-top: 5px;
	    margin-bottom: 10px;
	}
	.thumb, .thumb img {
	    border-radius: 2px;
	}
	.description {
	    font-size: medium;
	    max-height: 6.4rem;
	    overflow: hidden;
	    margin-top: 0px;
	    margin-bottom: 5px;
	    a {
		text-decoration: underline dashed;
	    }
	}
	.timestamp {
	    font-size: small;
	    color: #444;
	    margin-top: 0px;
	    margin-bottom: 5px;
	}
    }
    #next {
	position: fixed;
	margin: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
    }
    .payment-container {
	.paypal-button img {
	    max-height: 45px;
	    margin-bottom: 20px;
	}
	#br-flag {
	    height: 16px;
	    margin-bottom: 3px;
	}
    }
    .top-bar .menu li a {
	font-size: small;
    }
}

/* Small only */
@media only screen and (max-width: 39.9375em) {
    article img {
	border-radius: 2px;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    }
    .top-bar-right {
	padding-top: 0.5rem;
    }
    .top-bar .menu li {
	border-bottom: 1px solid #393D46;
	&:last-child {
	    border-width: 0px !important;
	}
    }
    #feeds-show-container {
	margin-bottom: 41px;
    }
    .top-bar .show-for-medium {
	// Do not display 'next feed' inside the menu
	// Foundation 6.2 bug?
	display: none !important;
    }
}

/* Medium and up */
@media only screen and (min-width: 40em) {
    .top-bar .button {
	transition: unset;
    }
    #feed-nav-padding {
	height: 55px;
    }
    #homepage {
	#top {
	    header {
		#logo {
		    height: 46px;
		}
		#login-button {
		    padding: 1em 2em;
		}
	    }
	}
	#pricing {
	    padding-bottom: 10px;
	}
	footer {
	    padding: 40px 0px;
	}
    }
    .top-bar {
	padding: 0 !important;
	height: 40px;
	.top-bar-title {
	    max-width: 420px;
	    line-height: 40px;
	    a {
		padding: 12px 16px;
		&:hover {
		    background: $fh-hover;
		}
	    }
	}
	.top-bar-right {
	    .menu li a {
		line-height: 18px;
	    }
	    .submenu {
		border: 1px solid #50545F;
		box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
	    }
	    .is-active > a {
		background-color: $fh-hover;
	    }
	    .is-dropdown-submenu {
		min-width: 120px;
	    }
	}
    }
    #feed-header {
	box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.4);
	z-index: 1;
	background: $fh-color;
	height: $fh-height;
	.top-bar-title {
	    font-size: x-large;
	    line-height: $fh-height;
	    a {
		padding: 14px;
	    }
	}
	.top-bar-right {
	    padding-top: 10px;
	    .menu li a {
		line-height: 1;
	    }
	}
	a:not(.button) {
	    background: $fh-color;
	    &:hover {
		background: $fh-hover;
	    }
	}
	.button {
	    border: 0;
	}
    }
    article {
	.small-thumb {
	    float: left;
	    max-width: 140px;
	    max-height: 80px;
	    margin-right: 15px;
	    overflow: hidden;
	    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	}
	.description {
	    max-height: 4.8rem;
	}
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    #feed-header .top-bar-right {
	padding-right: 10px;
    }
}

/* Large and up */
@media only screen and (min-width: 64em) {
    #homepage {
	#top {
	    header {
		padding-top: 40px;
	    }
	}
	#screenshot {
	    margin-bottom: 60px;
	}
    }
    .top-bar-title {
	max-width: 620px !important;
    }
    body {
	background-color: $bg-color !important;
    }
    .section-heading {
	border-bottom: 1px dotted lightgray;
	font-size: small;
	text-transform: uppercase;
	padding: 10px 0px 5px;
	margin: 0px;
    }
    aside {
	#feed-logo {
	    img {
		margin-top: 13px;
		max-height: 50px;
		padding: 3px;
		background-color: white;
		border-radius: 2px;
	    }
	}
	#aside-description, #aside-title, #aside-sub {
	    color: #333;
	    margin-top: 10px;
	}
	#resources {
	    margin-top: 5px;
	}
	p, a {
	    font-size: small;
	    color: $text-color;
	    margin-bottom: 0px;
	}
	.aside-sep {
	    height: 20px;
	}
    }
    #feeds-show-container {
	padding: 15px 0px;
    }
    .box {
	background-color: white;
	border-radius: 2px;
    }
    .simple-container .box {
	padding: 15px;
    }
    .box, #logo-img {
	box-shadow: 0px 0px 2px #ddd;
    }
}

/* Large only */
@media only screen and (min-width: 64em) and (max-width: 74.9375em) {}
