/* Constants */
$bg-color: #B7C2AA; /* default */
$bg-color: #A4C2A5;
$bg-color: #CBCFA7;
$bg-color: #cca;

$box-color: white;

$fh-color: #12191F;
$fh-hover: #1B2228;

// Small screens
/* Define mobile styles */
@media only screen {
    main {
	padding-top: 45px;
    }
    .alert-box {
	margin-bottom: 0px !important;
	text-align: center;
    }
    .users li, .feeds li, article {
	border-bottom: 1px dotted gray;
	.entry-title, a {
	    color: #222;
	}
	&:last-child {
	    border-width: 0px !important;
	}
    }
    .users, .feeds {
	list-style: none;
	li {
	    padding: 10px 0;
	}
	.updated-sub {
	    font-weight: bold;
	}
    }
    #combined-header {
	box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.4);
    }
    .top-bar {
	h1 a {
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
    }
    #favicon {
	height: 18px;
	width: 18px;
	padding: 1px;
	background-color: white;
	margin-right: 5px;
	margin-bottom: 2px;
    }
    #feeds-show-container {
	margin-bottom: 50px;
    }
    article {
	padding: 15px 0px 10px 0px;
	header {
	    h6 {
		margin-top: 0px;
		/* swap margin-bottom to 0px when timestamp appears below the title */
		margin-bottom: 5px;
		font-size: 17px;
	    }
	    .old a {
		color: #666;
	    }
	}
	.timestamp {
	    font-size: small;
	    margin-bottom: 5px;
	    color: #444;
	}
	.small-thumb-container, .big-thumb-container {
	    margin-top: 5px;
	    margin-bottom: 10px;
	}
	.small-thumb-container, .big-thumb-container img {
	    border-radius: 2px;
	}
	.description {
	    max-height: 6.4rem;
	    overflow: hidden;
	    margin-bottom: 5px;
	}
    }
    #next {
	top: calc(100% - 50px);
    }
}

/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 40em) {
    article img {
	border-radius: 2px;
    }
}


// Medium screens
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {
    .top-bar {
	h1 a {
	    max-width: 450px;
	}
    }
    #feed-header {
	background-color: $fh-color;
	.top-bar {
	    background-color: $fh-color;
	}
	section ul {
	    li:not(.active) a {
		background-color: $fh-color;
		&:hover {
		    background-color: $fh-hover;
		}
	    }
	}
    }
    #feed-header {
	h1 {
	    line-height: 50px;
	    font-size: x-large;
	}
	height: 50px;
	.top-bar {
	    height: inherit;
	}
	section ul a {
	    line-height: 50px;
	}
    }
    #feeds-show-container {
	margin-top: 50px;
	margin-bottom: 0px;
    }
    article {
	.small-thumb-container {
	    float: left;
	    max-width: 25%;
	    max-height: 85px;
	    margin-right: 15px;
	    overflow: hidden;
	    border: 1px solid rgba(0, 0, 0, 0.2);
	}
	.description {
	    max-height: 4.8rem;
	    #max-height: 100%;
	}
    }
}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { }


// Large screens
/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) {
    main {
	padding-bottom: 20px;
    }
    body {
	background-color: $bg-color !important;
    }
    .box, .box-no-fs {
	/* comment this line when using the aside */
	padding: 0px 60px !important;
	background-color: $box-color;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
    }
    .box-no-fs {
	padding: 20px 60px !important;
	ul {
	    margin-bottom: 0px;
	}
    }
    .section-heading {
	border-bottom: 1px dotted gray;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 5px;
	margin-top: 10px;
	margin-bottom: 0px;
    }
    .top-bar {
	h1 a {
	    max-width: 700px;
	}
    }
    aside .large-3 {
	/* invert if displaying aside on the right */
	padding-right: 60px;
    }
    aside {
#	display: none;
	margin-left: auto;
	.box {
	    padding-bottom: 10px;
	}
	#feed-logo {
	    img {
		margin-top: 18px;
		max-height: 80px;
		padding: 2px;
		background-color: white;
	    }
	}
	#aside-description, #aside-title {
	    color: #444;
	    margin-top: 15px;
	}
	#resources {
	    margin-top: 10px;
	}
	p, a {
	    font-size: small;
	    color: #222;
	    margin-bottom: 0px;
	}
    }
    #large-sep {
	height: 20px;
    }
    .small-thumb-container {
	max-height: 94px;
    }
}

/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 64.063em) and (max-width: 90em) { }


// XLarge screens
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) { }

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
@media only screen and (min-width: 90.063em) and (max-width: 120em) { }


// XXLarge screens
/* min-width 1921px, xxlarge screens */
@media only screen and (min-width: 120.063em) { }
